<div id="wrapper">
    <header></header>
    <div class="container">
        <div class="row">
            <div class>
                <div>
                    <img class="logo-home" src="assets/logo-2.png">
                </div>
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <div ng-show="error" class="alert alert-danger">{{error}}</div>
                        <form role="form" ng-submit="login()" name="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" required ng-model="username" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required ng-model="password" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-login">Login</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>